@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><a asp-controller="Customer" asp-action="Index">Список покупателей</a></p>
    <p><a asp-controller="Delivery" asp-action="Index">Список доставок</a></p>
    <p><a asp-controller="Employee" asp-action="Index">Список работников</a></p>
    <p><a asp-controller="Order" asp-action="Index">Список заказов</a></p>
    <p><a asp-controller="OrderDetail" asp-action="Index">Список деталей заказа</a></p>
    <p><a asp-controller="Part" asp-action="Index">Список деталей</a></p>
    <p><a asp-controller="PriceHistory" asp-action="Index">Список истории цен</a></p>
    <p><a asp-controller="Role" asp-action="Index">Список ролей работников</a></p>
    <p><a asp-controller="Supplier" asp-action="Index">Список поставщиков</a></p>
    <p><a asp-controller="Users" asp-action="Index">Список поставщиков</a></p>
</div>
